@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container h1 {
    font-weight: 600;
    font-size: 18px;
    color: blue;
    border-bottom: 1px solid ghostwhite;
    padding: 10px 0;

}

.qr-image {
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-label {
    display: block;
    margin-bottom: 8px;
    color: blue;
    font-size: 15px;
    font-weight: 500;
}

input[type = "text"] {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 5px;
}

button {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-btn {
    background-color: blue;
}

.generate-btn :disabled {
    background-color: lightslategrey;
    cursor: not-allowed;
}

.download-btn {
    background-color: green;
    margin-left: 10px;
}

.download-btn:hover {
    background-color: darkgreen;
}

.footer {
    margin-top: 30px;
}

.footer a {
    text-decoration: none;
    color: darkcyan;
}